@model IEnumerable<Financy.Data.TransaccionProyectada>

@{
    ViewBag.Title = "Presupuesto";
}

<h2>Presupuesto</h2>

<p>
    @Html.ActionLink("Agregar otro Gasto", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo.Descripcion)
            @*@Financy.BL.Util.GetDescripcion(item.Tipo,(int)item.Dia)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransaccionProyectada_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransaccionProyectada_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransaccionProyectada_Id })
        </td>
    </tr>
}

</table>

<div>
    <br />
@Html.ActionLink("Siguiente", "Index", "Estado")
</div>