@model Financy.Data.TransaccionProyectada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TransaccionProyectada</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cuenta.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cuenta.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Monto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Monto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo.Descripcion)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TransaccionProyectada_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
