@model Financy.Data.TransaccionTemp

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TransaccionTemp</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cuenta_Id, "Cuenta")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Cuenta_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Cuenta_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Monto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Monto)
            @Html.ValidationMessageFor(model => model.Monto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransaccionProyectada_Id, "TransaccionProyectada")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransaccionProyectada_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.TransaccionProyectada_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
