@model IEnumerable<Financy.Data.TransaccionProyectada>

@{
    ViewBag.Title = "Ingresos Fijos";
}

<h2>Ingresos Fijos</h2>

<p>
    @Html.ActionLink("Agregar Ingreso/Entrada", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            Días @Html.DisplayFor(modelItem => item.Dia) de cada mes.
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransaccionProyectada_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransaccionProyectada_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransaccionProyectada_Id })
        </td>
    </tr>
}

</table>

<section class="button">
    <br />
@Html.ActionLink("Siguiente", "Index", "Presupuesto")
</section>