@model Financy.Data.TransaccionProyectada

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TransaccionProyectada</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cuenta.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cuenta.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Monto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Monto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo.Descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dia)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
