@model Financy.Models.EstadoModel

@{
    ViewBag.Title = "Estados";
}

@*<h2>Estado</h2>*@

@using (Html.BeginForm()) {


<h2>Cuentas</h2>

       
<table>
    <tr>
        <th>
            Cuenta
        </th>
        <th>
            Balance
        </th>
    </tr>

@foreach (var item in Model.Cuentas) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balanc)
        </td>
    </tr>
}

</table>
        
<h2>Presupuesto</h2>
        
<table>
    <tr>
        <th>
            Gasto
        </th>
        <th>
            Balance
        </th>
    </tr>

@foreach (var item in Model.Presupuesto) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.Gastado) / @Html.DisplayFor(modelItem => item.Limite)
        </td>
    </tr>
}
    <tr>
        <td>
            <br />
            <b>Total</b>
        </td>
        <td>
            <br />
             <b> @ViewBag.Gastado / @ViewBag.Limite</b>
        </td>
    </tr>
</table>
    
}

<h2>Ingresos</h2>

<p>
    <h4>Ingresos</h4>
</p>
<p>
    @ViewBag.Ingresos
</p>
