@model List<Financy.Data.TransaccionProyectada>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Cuenta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dia) De Cada Mes.
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.Descripcion)
        </td>
        <td>
            @if ("Estado" != HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
            {
                <text>
                @Html.ActionLink("Edit", "Edit", new { id=item.TransaccionProyectada_Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.TransaccionProyectada_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TransaccionProyectada_Id })
                </text>
            }
        </td>
    </tr>
}

</table>